h1 {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    background-color: rebeccapurple; /*dark gray*/
    
    padding: .5em;

  }

  p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 1000;
  }

  p {
    font-family: t;
    font-weight: 1000;
  }
  h2 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
  }

  img {
    max-width: 150px;
    border-radius: 20%;
    background-color: aqua;
  }

  .highlighted {
    background-color: yellow;
  }

  .about {
    background-color: lightcoral;
  }

  .centered {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
  }

  .redclass{
    background-color: red;
  }

