/* * {
    box-sizing: border-box;
} */

    /* .row { 
        display: flex;
        flex-wrap: wrap; 
    } */

    .column  { 
        background-color: orange;
        border: 5px solid rebeccapurple;
        padding: 5px;

        /* flex-basis: 50%;  */
        /* flex-grow: 1; */
    }


