* {
    box-sizing: border-box;
}

    .row { 
        display: flex;
        flex-wrap: wrap; 
    }

    .column  { 
        background-color: orange;
        border: 5px solid rebeccapurple;
        padding: 3px;

        /* flex-basis: 300px;  */
        flex-grow: 1;
    }


